<div class="row">
  <div class="col-xs-12">
    <img [src]="detailRecipSelected.imagePath"
         [alt]="detailRecipSelected.name"
         class="img-responsive"
         style="max-height: 300px"
    >
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{detailRecipSelected.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="btn-group">
      <button   class="btn tun-primary dropdown-toggle">
        Manage Receip <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a
               (click)="toShoppingList(detailRecipSelected.ingredients)"
               style="cursor: pointer;"
        >To Shopping List</a></li>
        <li style="cursor: pointer"><a (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a >Delete Recipe</a></li>
      </ul>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-xs-12">
    {{detailRecipSelected.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item clearfix" *ngFor="let ingr of detailRecipSelected.ingredients">
        {{ingr.name}} - {{ingr.amount}}
      </li>
    </ul>
  </div>


</div>
