<!--dknote 77: get flag from app-header, call fun to set local variable flags-->
<app-header
  (selectedFeature)="onSelectFeature($event)"
></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--dknote 77: set visibility by the flags -->
      <app-recipes *ngIf="featureSelected==='recipe'"></app-recipes>
      <app-shopping-list *ngIf="featureSelected==='shopping-list'"></app-shopping-list>
      <app-servers *ngIf="featureSelected==='demo'"></app-servers> <!--//: demo the basic-->
    </div>
  </div>

  <div class="row">

  </div>
</div>


<!--15.3 use the new component (demo in lecture 17)-->
<!-- use Emmet for quicker html editing -->
<!-- 20: change style-->


