<div class="container">
  <div class="row col-xs-12">
    <h1>Users Page</h1>
    <p>
      <!--relative path structure-->
      <a routerLink="../servers">go back to servers</a>
    </p>

  </div>
  <div class="row">
    <button
      class="btn btn-primary"
      type="button"
      (click)="onAddUser()"
    >Add User</button>
  </div>
  <br>
  <br>
  <div class="row">
    <button
      class="btn btn-primary"
      type="button"
      (click)="onSaveUser()"
    >Save User to FireBase</button>
  </div>
  <br>
  <br>
  <div class="row">
    <button
      class="btn btn-primary"
      type="button"
      (click)="onGetUser()"
    >Get User from FireBase</button>
  </div>
  <div class="row">
    <div class="row col-xs-6">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let u of users;let i = index">
          <!--dknote 128: use the route parameter to user page with param passed-->
          <!--dknote 128: make query parameter dynamic based on index of list -->
          <a
            [routerLink]="['/users',u.id,u.name]"
            [queryParams]="{allowEdit: i===1? '1':'0'}"

          >{{u.id}} - {{u.name}}</a>
        </li>
      </ul>
    </div>
    <div class="row col-xs-6">
      <!--dknote 127: nested route-->
      <router-outlet></router-outlet>
    </div>

  </div>
  <br>

  <button class="btn btn-primary" (click)="onSendMsg()">
    Send Msg To User(cross component)
  </button>
</div>
